html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: black; /* Not white! */
  overflow-x: hidden;
}

img[src^="chrome-extension://"] {
  display: none !important;
}